# venv
.venv/
venv/

# Environment variables
.env

# Credentials
credentials/credentials.json
credentials/token.json
credentials/*

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# uv
.python-version

# IDE
.vscode/
.idea/
*.swp
